* {
    font-family: sans-serif;

}

ul {
    list-style-type: none;
    background-color: rgb(143, 142, 224);
}

li a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li a:hover {
    background-color: rgb(74, 117, 146);
}

body {
    background-color: rgb(219, 191, 218);
}

footer {
    grid-row: 3;
    grid-column: 2;

}
